<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/css/app.css" rel="stylesheet" type="text/css"/>

<div class="container">
    
    <h1>Did you know?</h1>

    <p>Auto theft is a crime of "opportunity" (seattle.gov). This means that most crimes occur out of sudden, and most often occur when the owner of the car is not careful and not giving full attention to his or car. However, we are here to help you avoid these types of situation through thorougly analyzing data associated with crime and grand theft auto in particular.</p>

    <h4>But first, here are a few things you should know:</h4>
    <ul>
        <li>Approximately 86% of stolen cars are recovered.</li>
        <li>Some vehicles are stolen to be sold and some dismantled for parts, but most are simply used as transportation for criminals.</li>
        <li>Auto theft happens fast. It takes just a minute for an expert thief to steal your car, and just a few seconds if your car is idle and running.</li>
    </ul>
</div>