<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/app.css" rel="stylesheet" type="text/css"/>

<div id="intro" class="container">
    
    <h1>Did you know?</h1>

    <p>Auto theft is a crime of "opportunity" (seattle.gov). This means that most crimes occur out of sudden, and most often occur when the owner of the car is not careful and not giving full attention to his or car. However, we are here to help you avoid these types of situation through thorougly analyzing data associated with crime and grand theft auto in particular.</p>
    <br>
    
    <h4>But first, here are a few things you should know:</h4>
    <ul>
        <li>Approximately 86% of stolen cars are recovered.</li>
        <li>Some vehicles are stolen to be sold and some dismantled for parts, but most are simply used as transportation for criminals.</li>
        <li>Auto theft happens fast. It takes just a minute for an expert thief to steal your car, and just a few seconds if your car is idle and running.</li>
    </ul>
    
    <br>
    
    <h4>Here are a few preventive measures you can take:</h4>
    <ul>
        <li>Don't leave your keys in your car (even spare keys)!</li>
        <li>Use your emergency brake and turn your wheels towards the curb.</li>
        <li>Park in garages or lots with attendances.</li>
        <li>Park in well-lit areas.</li>
    </ul>
    
    <h4>Aside from these tips, here are some of the things we found out in our own analysis:</h4>
    <ul>
        <li>
            <li>Auto theft often happens during day time as well as night time.</li>
            <li>Auto thefts occur in more densly populated areas such as central downtown or university district.</li>
            <li>Areas with larger rate of auto theft will have more violent crime such as robbery.</li>    
        </li>
    </ul>

    <h3>You can check out our full analysis right <a href="">here</a>.</h3>
</div>